.feed {
    width: 100%;
    padding: 20px;
  }
  
  .video-feed {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex;
    gap: 0px;
    margin-bottom: -40px;
  }
  
  .card {
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
 
  .shortfeed {
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 25px;
  }
  
  .shortfeed h3 {
    text-align: left;
    font-size: 30px;
  }
  
  .shorts-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 15px;
    margin-right: 20px;
  }
  .shorts-container .card{
    width: 200px;
    height: 500px;
    gap: 10px;
  }


  .shortcard {
    width: 20px;
    margin: 10px; 
  }
  
  .shortcard img {
    object-fit: cover;
    border-radius: 10px;
  }

  .shortcard h2{
    font-size: 18px;
    margin: 10px 0;
    color: #5a5a5a;
  }
  
  .shortcard p{
    font-size: 15px;
    margin: 5px 0;
    color: #5a5a5a;
  }
  .shortfeed h3{
    font-size: 40px;
    margin: 5px 0;
    color: #000000;
}


.channelprofile {
    display: flex;            
    align-items: left;      
    margin-top: 10px;      
  }
  .card {
   max-width: 50;
  }

  .channelprofile .channelpicture {
    width: 45px;
    height: 45px;
    border-radius: 50%;      
    margin-right: 15px;
    margin-top: 4px;
  }
  
  .channel-text {
    display: flex;
    flex-direction: column;    
  }

  .channel-text h3{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    margin : 3px 0;
    color: #555;
  }

  .channel-text h2{
    font-size: 16px;
    font-family: sans-serif;
    color:#000000;
    font-weight: 600;
  }
  .channel-text p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
  }

  @media (max-width:900px) {
    .shortfeed{
      display: none;
    }
    .video-feed{
      display: flex;
      justify-content: center;
  
    }
  
  }

  .show-more-container {
    position: relative;
    text-align: center; 
    margin-top: -30px;  
    z-index: 1;        
}


.show-more-button, .show-less-button{
    padding: 8px 16px;
    background-color: #007bff; 
    color: #fff;               
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}




 hr{
  position: relative;
  width: 90%;
  top: -15px;
  margin-left: 20px;

}